*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
header{
       background-color: #689F38;
    
}
nav,figure,ul,li{
    display: inline;
}
a{
    background-color: #689F38;
    padding: 0.8px;
    color:#8BC34A;
}
